<div class="card">
    <h2 class="title">Login Here</h2>
    <hr>
    <label >Email</label>
    <input class="detail" type="text">
    <label >Password</label>
    <input class="detail"  type="password">
   <span><input type="checkbox">        Remember Me  </span>
   <span style="float:right">T&C</span>
   <!-- <h4 style="color: rgba(7, 2, 2, 0.712); font-size: 15px; text-align: right;">forgot password</h4> -->
   <!-- <a href="https://accounts.google.com/signin/v2/recoveryidentifier?flowName=GlifWebSignIn&flowEntry=ServiceLogin">    Forgot Password?</a> -->
  

   <!-- <p><a href="https://policies.google.com/privacy?hl=en-US"> Privacy Policy</a>   <a href="https://usabilla.com/terms/"> Terms & Conditions</a></p> -->

   <span style="float:right"><a href="#" style="color: rgb(10, 10, 10);" class="btn">Forgot Password</a></span>
    <button>submit</button>

</div>
